#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  /* Used in Header.jsx */
  .logo {
    display: flex;
    margin: auto;
    width: 75%;
    will-change: filter;
    transition: filter 300ms;
  }

  /* Used in Header.jsx */
  .logo:hover {
    filter: drop-shadow(0 0 .25em #a49e90);
  }

  .read-the-docs {
    color: #888;
  }
  